/ {
   chosen {
      zephyr,display = &st7789v;
  };
  
   trackball_listener: trackball_listener {
      compatible = "zmk,input-listener";
      status = "okay";
      device = <&trackball_split>;
      input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT|INPUT_TRANSFORM_Y_INVERT)>, <&zip_temp_layer 3 700>;

      scroll {
         layers = <1>;
         input-processors = <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>, <&zip_xy_scaler 1 16>, <&zip_xy_to_scroll_mapper>;
      };

      arrow {
         layers = <2>;
         input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT|INPUT_TRANSFORM_Y_INVERT)>;
         process-next;
      };
      
      arrow-prevent-move {
         layers = <2>;
         input-processors = <&zip_xy_scaler 0 1>;
      };
   };
   
   kscan0: kscan0 {
      compatible = "zmk,kscan-gpio-charlieplex";
      interrupt-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH)>;
      gpios
         = <&gpio1  10 (GPIO_ACTIVE_HIGH)>
         , <&gpio1   0 (GPIO_ACTIVE_HIGH)>
         , <&gpio0  16 (GPIO_ACTIVE_HIGH)>
         ;
   };

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <3>;
		rows = <3>;
		
		map = <
		RC( 1, 0)  RC( 2, 0)
		RC( 0, 1)  RC( 2, 1)
		RC( 0, 2)  RC( 1, 2)
		>;
	};
};


// I2C0 configuration for ambient light sensor
&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    // APDS9960 ambient light sensor
    apds9960: apds9960@39 {
        compatible = "avago,apds9960";
        reg = <0x39>;
        status = "okay";
        int-gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D2 = P0.28
    };
};

&spi1 {
    status = "okay";
    cs-gpios =  <&xiao_d 6 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    compatible = "nordic,nrf-spim";

    trackball: pd@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <1500000>;
        irq-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <800>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        force-awake;
    };
};

// Required pinctrl configurations
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,  // Pin 4 (D4) = P0.04 = SDA
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;  // Pin 5 (D5) = P0.05 = SCL
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,  // Pin 4 (D4) = P0.04 = SDA
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;  // Pin 5 (D5) = P0.05 = SCL
            low-power-enable;
        };
    };

    spi1_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                    <NRF_PSEL(SPIM_MISO, 0, 3)>;
        };
    };

    spi1_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                    <NRF_PSEL(SPIM_MISO, 0, 3)>;
            low-power-enable;
        };
    };
};

